<%+header%>
<style title="text/css">
h2 {
	margin: 1rem;
}

</style>

<h2 name="content"><%:ynn nas client name%></h2>
<em style="color:green" id="start"><%:ynn nas client already start%></em>
<em style="color:red" id="stop"><%:ynn nas client already stop%></em>
<hr>
<script type="text/javascript">//<![CDATA[
	function check() {
		document.getElementById("stop").style.display = "none";
		document.getElementById("start").style.display = "none";

		(new XHR()).post("<%=controller%>admin/nas/ynn-nas-client/check", { token: "<%=token%>" }, function(rsp) {
			if (rsp.response == '1') {
				document.getElementById("start").style.display = "none";
			} else {
				document.getElementById("stop").style.display = "none";
			}
		});
	}
	check()
	function start(button) {
		(new XHR()).post("<%=controller%>admin/nas/ynn-nas-client/start", { token: "<%=token%>" }, check);
	}
//]]></script>

<input class="cbi-button cbi-button-apply btn" type="button" value="<%:ynn nas client start%>" onclick="start(this)" />

<%+footer%>
